* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 13px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #4267b2;
}

img {
  max-width: 100%;
}

.color-blue {
  color: #4267b2;
}

.bg-blue {
  background-color: #4267b2;
}

.color-orange {
  color: #fbb96b;
}

.bg-orange {
  background-color: #fbb96b;
}

.color-pink {
  color: #fe7e73;
}

.bg-pink {
  background-color: #fe7e73;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.color-main {
  color: #4267b2;
}

.bg-main {
  background-color: #4267b2;
}

.grid-col-0 {
  grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-0 {
    grid-template-columns: repeat(0, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-0 {
    grid-template-columns: repeat(0, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 479px) {
  .grid-col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  min-height: 100vh;
  padding: 0;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 479px) {
  .container {
    padding: 0 10px;
  }
}

.main {
  margin-top: 170px;
  margin-bottom: 10%;
  min-height: 100vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    margin-top: calc(70px + 20px);
  }
}
@media (max-width: 479px) {
  .main {
    margin-top: calc(40px + 10px);
  }
}

.grid {
  display: grid;
}

ol,
ul {
  padding-left: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: #fff0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: height 0.3s ease;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 70px;
    box-shadow: rgba(49, 51, 53, 0.66) 0px 8px 24px;
    justify-content: space-between;
    padding: 0 3%;
  }
}
@media (max-width: 479px) {
  .header {
    height: 40px;
    box-shadow: rgba(49, 51, 53, 0.66) 0px 8px 24px;
    justify-content: space-between;
    padding: 0 5%;
  }
}
.header.shrink {
  height: 100px;
  box-shadow: rgba(49, 51, 53, 0.66) 0px 8px 24px;
  z-index: 100;
  background-color: black;
}
.header__logo img {
  width: 150px;
  height: 70px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__logo img {
    width: 100px;
    height: 40px;
  }
}
@media (max-width: 479px) {
  .header__logo img {
    width: 70px;
    height: 25px;
  }
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.header__menu__item ~ .header__menu__item {
  margin-left: 39px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu__item ~ .header__menu__item {
    margin-left: 20px;
  }
}
@media (max-width: 479px) {
  .header__menu__item ~ .header__menu__item {
    margin-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu {
    width: 3%;
  }
}
@media (max-width: 479px) {
  .header__menu {
    width: 3%;
  }
}
.header__menu__close {
  display: none;
}
.header__menu__mobile-toggle {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu__mobile-toggle {
    display: block;
    font-size: 2rem;
    color: #fff;
  }
}
@media (max-width: 479px) {
  .header__menu__mobile-toggle {
    display: block;
    font-size: 1.5rem;
    color: #fff;
  }
}
.header__menu__list {
  display: flex;
  color: white;
  font-size: 1.2rem;
  justify-content: space-around;
  align-items: center;
}
.header__menu__list__close {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu__list__close i {
    position: absolute;
    top: 5%;
    right: 10%;
  }
}
@media (max-width: 479px) {
  .header__menu__list__close i {
    position: absolute;
    top: 5%;
    right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    justify-content: center;
    align-items: flex-start;
    width: 180px;
    height: 280px;
    box-shadow: rgba(49, 51, 53, 0.66) 0px 8px 24px;
    border-radius: 10px;
    background: #ffffff;
    color: #000;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .header__menu__list.active {
    transform: translateX(0);
  }
  .header__menu__list__item.active {
    margin-left: 45%;
    font-weight: 600;
  }
  .header__menu__list__close {
    display: block;
  }
}
@media (max-width: 479px) {
  .header__menu__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    justify-content: center;
    align-items: flex-start;
    width: 150px;
    height: 230px;
    box-shadow: rgba(49, 51, 53, 0.66) 0px 8px 24px;
    border-radius: 10px;
    background: #ffffff;
    color: #000;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .header__menu__list.active {
    transform: translateX(0);
  }
  .header__menu__list__item.active {
    margin-left: 45%;
    font-weight: 600;
  }
  .header__menu__list__close {
    display: block;
  }
}
.header__menu__list__item {
  color: white;
  font-size: 1.3rem;
}
@media (max-width: 479px) {
  .header__menu__list__item {
    font-size: 1.2rem;
  }
}
.header__menu__list__item.active {
  font-weight: bold;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header__menu__list__item.active {
    font-weight: 600;
    margin-left: 13%;
  }
}

.slick-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://veritaslegis.com/wp-content/uploads/2019/11/criminal-defense-lawyer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slick-slider {
    width: 100%;
    height: 700px;
    min-width: 1100px;
  }
}
@media (max-width: 479px) {
  .slick-slider {
    width: 100%;
    height: 450px;
    min-width: 840px;
  }
}
.slick-slider__left-arrow, .slick-slider__right-arrow {
  position: absolute;
  top: 42%;
  font-size: 4rem;
  background: #3330;
  border: none;
  color: #767676;
  cursor: pointer;
}
.slick-slider__left-arrow {
  left: 10%;
}
.slick-slider__content {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1110px;
  font-family: Source Sans Pro;
  color: white;
}
.slick-slider__content h3,
.slick-slider__content h5 {
  line-height: 140%;
  font-weight: bold;
  width: 510px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slick-slider__content h3,
.slick-slider__content h5 {
    width: 400px;
  }
}
@media (max-width: 479px) {
  .slick-slider__content h3,
.slick-slider__content h5 {
    width: 300px;
  }
}
.slick-slider__content h3 {
  font-size: 69px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slick-slider__content h3 {
    font-size: 50px;
  }
}
@media (max-width: 479px) {
  .slick-slider__content h3 {
    font-size: 28px;
  }
}
.slick-slider__content h5 {
  font-size: 28px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slick-slider__content h5 {
    font-size: 20px;
  }
}
@media (max-width: 479px) {
  .slick-slider__content h5 {
    font-size: 14px;
  }
}
.slick-slider__content p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  width: 510px;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slick-slider__content p {
    width: 390px;
    font-size: 17px;
  }
}
@media (max-width: 479px) {
  .slick-slider__content p {
    width: 270px;
    font-size: 12px;
  }
}
.slick-slider__content button {
  background: #0d90c2;
  padding: 10px 30px;
  border: none;
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  margin-top: 15px;
}
@media (max-width: 479px) {
  .slick-slider__content button {
    padding: 6px 20px;
    font-size: 1rem;
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slick-slider__content {
    height: 700px;
  }
}
@media (max-width: 479px) {
  .slick-slider__content {
    height: 450px;
  }
}
.slick-slider__right-arrow {
  right: 10%;
}

.about {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://images.unsplash.com/photo-1602722053020-af31042989d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMHNoZWxmfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
@media (min-width: 1024px) {
  .about {
    top: 105%;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about {
    top: 88%;
    left: 0;
    min-width: 1100px;
  }
}
.about__list {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.about__list-membership, .about__list-working {
  width: 330px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__list-membership i, .about__list-working i {
  font-size: 4rem;
  color: white;
}
.about__list-membership h5, .about__list-working h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}
.about__list-membership p, .about__list-working p {
  color: white;
  width: 290px;
  text-align: center;
  font-size: 15px;
}
.about__list-membership button, .about__list-working button {
  background: #0d90c2;
  padding: 10px 20px;
  border: none;
  color: white;
  text-transform: capitalize;
}
.about__list-membership {
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://t4.ftcdn.net/jpg/02/57/39/75/360_F_257397505_UIKaAyHxjaBT8YRVLTrQNGG7z8RdqOQB.jpg);
  margin-right: 2rem;
}
.about__list-working {
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://t3.ftcdn.net/jpg/02/97/04/44/240_F_297044418_mpZhBMnU7WHQEcfpkRp5rg7nAbuxknMM.jpg);
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about-us {
    top: 35%;
  }
}
.about-us__left {
  width: 350px;
  height: 330px;
  margin-right: 5%;
  margin-top: -10%;
}
.about-us__left__title {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 5px;
  position: relative;
}
.about-us__left__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 15%;
  background: #c4c4c4;
}
.about-us__left__content {
  font-size: 1.2rem;
  color: #fff;
  width: 100%;
  line-height: 160%;
  margin-top: 1.5rem;
}
.about-us__left__signature {
  font-family: Mrs Saint Delafield;
  color: #c7c7c7;
  font-size: 2.5rem;
  font-style: italic;
}
.about-us__left__branch {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-us__right img {
  width: 350px;
  height: 390px;
}

.checkList {
  width: 75%;
  height: 250px;
  background: #fff;
  position: absolute;
  transform: translateX(-50%);
  padding: 30px 40px;
}
@media (min-width: 1024px) {
  .checkList {
    top: 170%;
    left: 50%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .checkList {
    top: 165%;
    left: 50%;
    height: 200px;
    width: 75%;
  }
}
.checkList p {
  width: 400px;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.checkList__item {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.checkList__item ul li {
  font-weight: bold;
}
@media (min-width: 1024px) {
  .checkList__item ul li {
    font-size: 1.1rem;
  }
}
.checkList__item ul li .fa-check {
  font-size: 1.5rem;
  color: #0d90c2;
  margin-right: 1rem;
}

.blogList {
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: -1;
  padding: 20% 10% 5% 10%;
}
@media (min-width: 1024px) {
  .blogList {
    top: 170%;
    left: 0;
    height: 1050px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList {
    top: 150%;
    left: 0;
    height: 970px;
    min-width: 1100px;
    padding: 35% 10% 5% 10%;
  }
}
.blogList__title {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 8%;
  padding-bottom: 5px;
  position: relative;
}
.blogList__title::before {
  position: absolute;
  content: " ";
  bottom: 0;
  height: 4px;
  width: 4%;
  background-color: royalblue;
}
.blogList__content {
  width: 360px;
  font-size: 1.2rem;
  margin: 3% 0 3% 8%;
}
.blogList__colList {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 410px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blogList__colList__colItem {
  width: 300px;
  background-color: #fff;
  height: 430px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__colList__colItem {
    width: 240px;
    height: 400px;
  }
}
.blogList__colList__colItem__img {
  width: 100%;
  height: 200px;
  background-position: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__colList__colItem__img {
    height: 170px;
  }
}
.blogList__colList__colItem .img1 {
  background-image: url(https://www.ctvnews.ca/polopoly_fs/1.4894318.1586807914!/httpImage/image.png_gen/derivatives/landscape_620/image.png);
}
.blogList__colList__colItem .img2 {
  background-image: url(https://i.pinimg.com/474x/95/f8/5e/95f85e9c1f307582ad469b6dc8f25e31.jpg);
}
.blogList__colList__colItem .img3 {
  background-image: url(https://img.freepik.com/free-photo/people-talking-each-other-before-meeting_23-2148817040.jpg?size=626&ext=jpg);
}
.blogList__colList__colItem__content {
  padding: 10px 25px 10px 25px;
}
.blogList__colList__colItem__content span {
  color: #545454;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__colList__colItem__content span {
    font-size: 12px;
  }
}
.blogList__colList__colItem__content h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__colList__colItem__content h4 {
    font-size: 1.2rem;
  }
}
.blogList__colList__colItem__content p {
  font-size: 1.1rem;
  text-transform: lowercase;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__colList__colItem__content p {
    font-size: 1rem;
  }
}
.blogList__colList__colItem__content button {
  background: #0d90c2;
  color: white;
  padding: 10px 25px;
  border: none;
  text-transform: capitalize;
  font-size: 1.3rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__colList__colItem__content button {
    font-size: 1.1rem;
  }
}
.blogList__img {
  width: 100px;
  height: 300px;
  position: absolute;
}
@media (min-width: 1024px) {
  .blogList__img {
    bottom: 0;
    right: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .blogList__img {
    bottom: 0;
    right: 5%;
  }
}

.out-partner {
  width: 100%;
  height: 300px;
  background-color: #fff;
  position: absolute;
}
@media (min-width: 1024px) {
  .out-partner {
    top: 285%;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .out-partner {
    top: 280%;
    left: 0;
    height: 250px;
  }
}
.out-partner__body {
  padding: 5% 20% 5% 20%;
}
.out-partner__body__title {
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 5px;
  position: relative;
}
.out-partner__body__title::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 5%;
  height: 4px;
  left: 0;
  background-color: royalblue;
}
.out-partner__body__branch {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8%;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: royalblue;
  position: absolute;
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.4), rgba(18, 18, 18, 0.4)), url(https://xpresslenses.com/wp-content/uploads/2016/11/footer-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
@media (min-width: 1024px) {
  .footer {
    top: 330%;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    top: 330%;
    left: 0;
    min-width: 1100px;
  }
}
@media (max-width: 479px) {
  .footer {
    top: 400%;
    left: 0;
    min-width: 800px;
  }
}
.footer__list {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
}
.footer__list__item h4 {
  font-family: Source Code Pro;
  font-size: 1.7rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.footer__list__item span {
  width: 204px;
  font-size: 1.2rem;
  display: block;
}
.footer__list__item p {
  font-size: 1.2rem;
  width: 235px;
}
.footer__list__item input[type=email] {
  display: block;
  padding: 5px 15px;
  width: 230px;
  margin-bottom: 1rem;
}
.footer__list__item button {
  background: #0d90c2;
  color: white;
  font-size: 1.3rem;
  padding: 5px 25px;
  border: none;
  text-transform: capitalize;
}
.footer__list__item__listicon {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.footer__list__item__listicon i {
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */