* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 13px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #4267b2;
}

img {
  max-width: 100%;
}

.color-blue {
  color: #4267b2;
}

.bg-blue {
  background-color: #4267b2;
}

.color-orange {
  color: #fbb96b;
}

.bg-orange {
  background-color: #fbb96b;
}

.color-pink {
  color: #fe7e73;
}

.bg-pink {
  background-color: #fe7e73;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.color-main {
  color: #4267b2;
}

.bg-main {
  background-color: #4267b2;
}

.grid-col-0 {
  grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-0 {
    grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .grid-col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-0 {
    grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .grid-col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1620px;
  min-height: 100vh;
  padding: 0 50px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 0 10px;
  }
}

.main {
  margin-top: 170px;
  margin-bottom: 10%;
  min-height: 100vh;
}
@media only screen and (max-width: 1024px) {
  .main {
    margin-top: calc(70px + 20px);
  }
}
@media only screen and (max-width: 600px) {
  .main {
    margin-top: calc(40px + 10px);
  }
}

.grid {
  display: grid;
}

ol,
ul {
  padding-left: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: #fff0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: height 0.3s ease;
}
.header.shrink {
  height: 100px;
  box-shadow: rgba(49, 51, 53, 0.66) 0px 8px 24px;
  z-index: 100;
  background-color: black;
}
.header__logo img {
  width: 150px;
  height: 70px;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
.header__menu__item {
  color: white;
  font-size: 1.3rem;
}
.header__menu__item.active {
  font-weight: bold;
}

.slick-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://veritaslegis.com/wp-content/uploads/2019/11/criminal-defense-lawyer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.slick-slider__left-arrow, .slick-slider__right-arrow {
  position: absolute;
  top: 42%;
  font-size: 4rem;
  background: #3330;
  border: none;
  color: #767676;
}
.slick-slider__left-arrow {
  left: 10%;
}
.slick-slider__content {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1110px;
  font-family: Source Sans Pro;
  color: white;
}
.slick-slider__content h3,
.slick-slider__content h5 {
  line-height: 140%;
  font-weight: bold;
  width: 510px;
}
.slick-slider__content h3 {
  font-size: 69px;
}
.slick-slider__content h5 {
  font-size: 28px;
}
.slick-slider__content p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  width: 510px;
  text-align: center;
}
.slick-slider__content button {
  background: #0d90c2;
  padding: 10px 30px;
  border: none;
  font-size: 1.2rem;
  color: white;
  text-transform: capitalize;
  margin-top: 15px;
}
.slick-slider__right-arrow {
  right: 10%;
}

.about {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://images.unsplash.com/photo-1602722053020-af31042989d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMHNoZWxmfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 140%;
  left: 0;
}
.about__list {
  display: flex;
  justify-content: center;
  width: 65%;
  margin: auto;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
}
.about__list-membership, .about__list-working {
  width: 330px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__list-membership i, .about__list-working i {
  font-size: 4rem;
  color: white;
}
.about__list-membership h5, .about__list-working h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
}
.about__list-membership p, .about__list-working p {
  color: white;
  width: 290px;
  text-align: center;
  font-size: 15px;
}
.about__list-membership button, .about__list-working button {
  background: #0d90c2;
  padding: 10px 20px;
  border: none;
  color: white;
  text-transform: capitalize;
}
.about__list-membership {
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://t4.ftcdn.net/jpg/02/57/39/75/360_F_257397505_UIKaAyHxjaBT8YRVLTrQNGG7z8RdqOQB.jpg);
  margin-right: 2rem;
}
.about__list-working {
  background-image: linear-gradient(0, rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)), url(https://t3.ftcdn.net/jpg/02/97/04/44/240_F_297044418_mpZhBMnU7WHQEcfpkRp5rg7nAbuxknMM.jpg);
}
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.about-us__left {
  width: 350px;
  height: 330px;
  margin-right: 5%;
  margin-top: -10%;
}
.about-us__left__title {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 5px;
  position: relative;
}
.about-us__left__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 15%;
  background: #c4c4c4;
}
.about-us__left__content {
  font-size: 1.2rem;
  color: #fff;
  width: 100%;
  line-height: 160%;
  margin-top: 1.5rem;
}
.about-us__left__signature {
  font-family: Mrs Saint Delafield;
  color: #c7c7c7;
  font-size: 2.5rem;
  font-style: italic;
}
.about-us__left__branch {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.about-us__right img {
  width: 350px;
  height: 390px;
}

.checkList {
  width: 75%;
  height: 200px;
  background: #fff;
  position: absolute;
  top: 225%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 40px;
}
.checkList p {
  width: 400px;
  font-size: 1.2rem;
}
.checkList__item {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.checkList__item ul li {
  font-size: 1.5rem;
  font-weight: bold;
}
.checkList__item ul li .fa-check {
  font-size: 1.5rem;
  color: #0d90c2;
  margin-right: 1rem;
}/*# sourceMappingURL=index.css.map */