.checkList {
  width: 75%;
  height: 250px;
  background: #fff;
  position: absolute;
  transform: translateX(-50%);
  padding: 30px 40px;
  @include desktop {
    top: 183%;
    left: 50%;
  }
  @include tablet {
    top: 160%;
    left: 50%;
    height: 200px;
    width: 85%;
    transform: translateX(-25%);
  }
  @include mobile {
    top: 103%;
    left: 50%;
    height: 150px;
    min-width: 550px;
    transform: translateX(10%);
  }

  & p {
    width: 400px;
    font-size: 1.2rem;
    margin-bottom: 2rem;

    @include tablet {
      width: 330px;
      font-size: 16px;
      margin-bottom: 1rem;
    }
    @include mobile {
      width: 200px;
      font-size: 10px;
      margin-bottom: 1rem;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 85%;
    @include mobile {
      width: 100%;
    }

    & ul li {
      @include desktop {
        font-size: 1.1rem;
      }
      @include tablet {
        font-size: 11px;
      }

      @include mobile {
        font-size: 10px;
      }

      font-weight: bold;
      & .fa-check {
        font-size: 1.5rem;
        color: #0d90c2;
        margin-right: 1rem;
      }
    }
  }
}
