.header {
  background-color: $main-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: $header-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: height 0.3s ease;

  @include tablet {
    height: $header-tablet-height;
    box-shadow: $box-shadow;
    justify-content: space-between;
    padding: 0 3%;
  }

  @include mobile {
    height: $header-mobile-height;
    box-shadow: $box-shadow;
    justify-content: space-between;
    padding: 0 5%;
  }

  &.shrink {
    height: $header-shrink-height;
    box-shadow: $box-shadow;
    z-index: 100;
    background-color: black;
  }

  &__logo {
    img {
      width: 150px;
      height: 70px;

      @include tablet {
        width: 100px;
        height: 40px;
      }
      @include mobile {
        width: 70px;
        height: 25px;
      }
    }
  }
  &__menu {
    @include flex(center, space-between);
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include desktop {
      width: 55%;
    }

    &__item ~ &__item {
      @include desktop {
        margin-left: 20px;
      }

      @include tablet {
        margin-left: 20px;
      }

      @include mobile {
        margin-left: 10px;
      }
    }

    @include tablet {
      width: 3%;
    }
    @include mobile {
      width: 3%;
    }

    &__close {
      display: none;
    }

    &__mobile-toggle {
      display: none;

      @include tablet {
        display: block;
        font-size: 2rem;
        color: #fff;
      }
      @include mobile {
        display: block;
        font-size: 1.5rem;
        color: #fff;
      }
    }
    &__list {
      display: flex;
      color: white;
      font-size: 1.2rem;
      justify-content: space-around;
      align-items: center;
      &__close {
        display: none;
        & i {
          @include tablet {
            position: absolute;
            top: 5%;
            right: 10%;
          }
          @include mobile {
            position: absolute;
            top: 5%;
            right: 10%;
          }
        }
      }

      @include tablet {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        justify-content: center;
        align-items: flex-start;
        width: 180px;
        height: 280px;
        box-shadow: $box-shadow;
        border-radius: 10px;
        background: #ffffff;
        color: #000;
        transform: translateX(100%);
        transition: transform 0.5s ease;

        &.active {
          transform: translateX(0);
        }

        &__item {
          &.active {
            margin-left: 45%;
            font-weight: 600;
          }
        }

        &__close {
          display: block;
        }
      }

      @include mobile {
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        justify-content: center;
        align-items: flex-start;
        width: 150px;
        height: 230px;
        box-shadow: $box-shadow;
        border-radius: 10px;
        background: #ffffff;
        color: #000;
        transform: translateX(100%);
        transition: transform 0.5s ease;

        &.active {
          transform: translateX(0);
        }

        &__item {
          &.active {
            margin-left: 45%;
            font-weight: 600;
          }
        }

        &__close {
          display: block;
        }
      }

      &__item {
        color: white;
        font-size: 1.3rem;

        @include mobile {
          font-size: 1.2rem;
        }

        &.active {
          font-weight: bold;
          @include tablet {
            font-weight: 600;
            margin-left: 13%;
          }
          @include mobile {
            margin-left: 11% !important;
            font-weight: 600;
          }
        }
      }
    }
  }
}
